body {
    background: #619a9e;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    text-align: center;
}

input {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#result {
    background: white;
    width: 250px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 10px;
}

.btns button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
